body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    width: 8em; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    font-size: 28px; /* Increased font size for emphasis */
    font-weight: bold;
    color: #5d88a7; /* A darker shade for more emphasis */
    margin-bottom: 0.5em; /* Added some spacing below the title */
}

.mission-statement {
    font-size: 16px; /* Adjusted for better hierarchy */
}

/* Ensures the content does not overlap the footer */
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px; /* Adjust based on the actual height of your footer */
    overflow-y: auto; /* Enables scrolling on overflow */
    padding-bottom: 20px; /* Additional padding to ensure content does not touch the footer */
}

.left-column, .right-column {
    width: 100%; /* Full width on smaller screens */
    padding: 20px;
    box-sizing: border-box;
}

.section {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section h3 {
    color: #003366;
    margin-top: 0;
}

.hospital-image {
    display: block; /* To prevent inline default spacing */
    width: 100%; /* This will make the image responsive */
    height: auto;
    border-radius: 10px; /* For the sleek card look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* To match the sections */
}

/* Adjusted footer to be relative */
.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative; /* Changed from fixed to relative */
    bottom: auto; /* Removed fixed positioning */
}

.footer a:link, .footer a:visited {
    color: white;
}

/* Styles for the frequencies table */
.section.frequencies table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.section.frequencies td {
    padding: 0.5em;
    border: 1px solid #ddd; /* Light gray border for each cell */
}

/* Styles for highlighting the row */
.highlight td {
    background-color: #ffff99; /* Light yellow background for highlight */
    font-weight: bold;
}

/* Styles for the EMS entries and data */
.ems-entry {
    background-color: #f9f9f9; /* Light background for each entry */
    border: 1px solid #ddd; /* Light border */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-size: 0.9em;
    line-height: 1.4;
}

.ems-entry:nth-child(odd) {
    background-color: #f1f1f1; /* Slightly darker background for alternate entries */
}

.ems-data {
    display: inline-block;
    margin-right: 15px;
    color: #003366; /* Dark blue for text */
}

/* Styles for the Code of Ethics list */
.ems-ethics {
    list-style: none;
    padding: 0;
}

.ems-ethics li {
    background-color: #f9f9f9;
    border-left: 4px solid #003366;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    font-size: 0.95em;
}

.ems-ethics li::before {
    content: '•';
    color: #003366; /* The color of the bullet */
    font-size: 1.5em; /* Size of the bullet */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.ems-ethics li strong {
    color: #003366;
    display: block; /* Makes the title stand on its own line */
    margin-bottom: 5px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .codes-column {
        max-width: 100%;
    }

    .content {
        margin-bottom: 20px; /* Smaller bottom margin for smaller screens */
    }
}

/* Further media queries for larger screens */
@media (min-width: 768px) {
    .left-column, .right-column {
        width: 50%; /* Side by side on larger screens */
    }
}
